# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Diretórios
/node_modules/
/dist/
/build/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp

# Chaves de API e arquivos sensíveis
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependências e arquivos de construção
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Outros arquivos e diretórios específicos ao seu projeto
